entrypoint = "main.cs"

hidden = ["bin", "obj"]
modules = ["dotnet-7.0", "dotnet-8.0", "postgresql-16", "nodejs-20"]

[env]
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"
DOTNET_CLI_HOME = "$XDG_CACHE_HOME"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"
packages = ["poppler_utils"]

[deployment]
run = ["dotnet", "run"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "C# Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Phaser Frontend"

[[workflows.workflow]]
name = "C# Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run --project OceanKing.csproj --urls=http://0.0.0.0:8000"
waitForPort = 8000

[[workflows.workflow]]
name = "Phaser Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 32959
externalPort = 3001

[[ports]]
localPort = 35845
externalPort = 5000

[[ports]]
localPort = 36049
externalPort = 8000

[[ports]]
localPort = 36765
externalPort = 8080

[[ports]]
localPort = 37659
externalPort = 9000

[[ports]]
localPort = 38393
externalPort = 8008

[[ports]]
localPort = 39045
externalPort = 3000

[[ports]]
localPort = 40311
externalPort = 6800

[[ports]]
localPort = 41971
externalPort = 5173

[[ports]]
localPort = 42657
externalPort = 8099

[[ports]]
localPort = 44515
externalPort = 6000

[[ports]]
localPort = 44753
externalPort = 8081

[[ports]]
localPort = 44869
externalPort = 3003

[[ports]]
localPort = 45337
externalPort = 3002

[[ports]]
localPort = 46105
externalPort = 4200
